#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#inventoryPanel {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #f0f0f0;
  border-bottom: 2px solid #333;
}

#map {
  width: 100%;
  height: 80vh;
}

.token-marker {
  background: transparent !important;
  border: none !important;
  cursor: pointer;
}

.token-marker div {
  pointer-events: auto;
}
