#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.token-marker {
  background: transparent !important;
  border: none !important;
}

.token-marker div {
  pointer-events: none;
}
